@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

body {
  background-color: #d2d2d2;
  margin: 0;
  color: var(--foreground);
  font-family: "Fjalla One", sans-serif;
}

main {
  padding: 20px;
  min-height: 100vh;
}
