<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcard Vault</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarpages.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> -->
</head>



<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
        </ul>
    
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}" class="login-btn">Log In / Register</a>
        </div>
    </div>
<br>

<div class = "website-header">
    <h1>Flashcard Vault</h1>
    <h2>Ace Your Exams One Card at a Time</h2>
</div>



</body>
</html>